@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chillax Semibold";
  src: url("./assets/fonts/chillax-semibold.woff2") format("woff2");
}

body {
  background-color: #131516;
  color: #fff;
  font-family: "Chillax Semibold";
}

.home-section {
  height: calc(100vh - 72px - 2rem);
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--accent);
}

.container {
  max-width: 1200px;
}
